.welcome
{
    height: 100%;
    background-image:linear-gradient(to right bottom,rgba(0,0,0,.6),rgba(0,0,0,.9)),url('../img/index.jpg');
    background-size: 100% 100%;
    text-align: center;
    text-transform: capitalize;
}

.welcome div
{
    position: relative;
    top: 250px;
    color: #eee;
}
.welcome div button
{
    border-radius: 25px;
}
.login
{
    width: 50%;
    display: none;
}
.signup
{
    width: 50%;
    display: none;
}
/* linear-gradient(to right left,rgba(0,0,0,.5),rgba(0,0,0,.8)) */
.img
{
    width: 250px;
}